body {
  background:rgb(231, 195, 231);
  text-align: center;
}

.heading {
  color: #ffffff; 
  font-family: 'Raleway',sans-serif; 
  font-size: 52px; 
  font-weight: 800; 
  line-height: 72px; 
  text-transform: uppercase; 
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background-color: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor:pointer;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}